body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vertival-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.todoitem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
}
.btn_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.main_btn {
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  margin: 0 0 0 10px;
  padding: 10px;
}
.main_btn.btn__complete {
  border-color: green;
  color: green;
}
.main_btn.btn__uncomplete {
  border-color: orange;
  color: orange;
}
.main_btn.btn__delete {
   border-color: red;
   color: red;
}

.text__completed {
  text-decoration: line-through;
  color: green;
}

.error-message {
  background-color: #f8d7da; /* Колір фону */
  border: 1px solid #f5c6cb; /* Рамка */
  color: #721c24; /* Колір тексту */
  padding: 10px; /* Відступи */
  border-radius: 4px; /* Закруглені кути */
  margin: 20px;
}

.error-message strong {
  font-weight: bold; /* Жирний шрифт для заголовка */
}

.error-message p {
  margin: 0; /* Видалення відступів для абзаців */
}
